@model inmobiliariaLopardo.Models.Inmueble

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="Propietario">Propietario:</label>
                <select class="form-control" id="PropietarioId" name="PropietarioId">
                    @foreach (var propietario in ViewBag.ListaPropietarios)
                    {
                        <option value="@propietario.Id">@propietario.Nombre @propietario.Apellido</option>
                    }
                </select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uso" class="control-label"></label>
                <select asp-for="Uso" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(inmobiliariaLopardo.Models.UsoInmueble)))
                    {
                        <option value="@item">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Uso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control">
                    @foreach (var item in Enum.GetValues(typeof(inmobiliariaLopardo.Models.TipoInmueble)))
                    {
                        <option value="@item">@item.ToString()</option>
                    }
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Activo</label>
                <input type="checkbox" asp-for="Activo" class="form-check-input" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Disponible</label>
                <input type="checkbox" asp-for="Disponible" class="form-check-input" />
                <span asp-validation-for="Disponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> <a asp-action="Index"
                    class="btn btn-volver">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
