@model IEnumerable<Inmueble>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<h1>Lista de Inmuebles</h1>

<p>
    <a asp-action="Crear" class="btn btn-create-new">Crear nuevo</a>
</p>
<table class="table">

    <form asp-controller="Inmuebles" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="tipoId">Tipo de Propiedad:</label>
            <select class="form-control form-control-sm dropdown-container" id="tipoId" name="tipoId">
                <option value="">Todos</option>
                <option value="1">Casa</option>
                <option value="2">Oficina</option>
                <option value="3">Departamento</option>
                <option value="4">Almacén</option>
            </select>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>

    <form asp-controller="Inmuebles" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="tipoId">Disponibilidad:</label>
            <select class="form-control form-control-sm dropdown-container" id="dispId" name="dispId">
                <option value="">Todos</option>
                <option value="1">Ocupado</option>
                <option value="2">Disponible</option>
            </select>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>


    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Propietario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                Disp.
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Propietario.Nombre) @Html.DisplayFor(modelItem => item.Propietario.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @if (item.Activo)
                    {
                        <text>Sí</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    @if (item.Disponible)
                    {
                        <text>Sí</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
                </td>
                <td>
                    <i class="fa-solid fa-circle-info"></i> @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) 
                    <i class="fa-solid fa-pen-to-square"></i> @Html.ActionLink("Editar", "Editar", new { id = item.Id }) 
                    @if(User.IsInRole("Administrador")){
                    <i class="fa-solid fa-trash"></i> @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                    }                  
                </td>
            </tr>
        }
    </tbody>
</table>
