@model inmobiliariaLopardo.Models.Contrato

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inquilino" class="control-label">Inquilino</label>
                <select asp-for="InquilinoId" class="form-control">
                    @foreach (var inquilino in ViewBag.ListaInquilinos)
                    {
                        <option value="@inquilino.Id">@inquilino.Nombre @inquilino.Apellido</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label">Inmueble</label>
                <select asp-for="InmuebleId" class="form-control">
                    @foreach (var inmueble in ViewBag.ListaInmuebles)
                    {
                        <option value="@inmueble.Id">@inmueble.Direccion</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label">Fecha de Inicio</label>
                <input type="date" asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label">Fecha de Fin</label>
                <input type="date" asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" /> <a asp-action="Index"
                    class="btn btn-volver">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
