@model IEnumerable<Contrato>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
<script src="https://kit.fontawesome.com/708362d465.js" crossorigin="anonymous"></script>

<h1>Lista de Contratos</h1>

<p>
    <a asp-action="Crear" class="btn btn-create-new">Crear nuevo</a>
</p>

<table class="table">

    <form asp-controller="Contratos" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="estadoId">Estado del Contrato</label>
            <select class="form-control form-control-sm dropdown-container" id="estadoId" name="estadoId">
                <option value="">Todos</option>
                <option value="1">Activos</option>
                <option value="2">Inactivos</option>
            </select>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>
    <form asp-controller="Contratos" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="inmId">Filtrar por Inmuebles</label>
            <select class="form-control form-control-sm dropdown-container" id="inmId" name="inmId">
                <option value="">Todos</option>
                @foreach (var item in Model)
                {
                    <option>@Html.DisplayFor(modelItem => item.InmuebleId)</option>
                }
            </select>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>
    <form asp-controller="Contratos" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="fechaIList">Fecha Inicial</label>
            <input type="date" list="fechaI" id="fechaIList" name="fechaIList"/>
              <datalist id="fechaI">
              </datalist>
            <label for="fechaFList">Fecha Final</label>
            <input type="date" list="fechaF" id="fechaFList" name="fechaFList"/>
              <datalist id="fechaF">
              </datalist>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>
    <form asp-controller="Contratos" asp-action="Index" method="get" class="custom-form">
        <div class="form-group">
            <label for="diasId">Dias a vencer</label>
            <input type="number" list="dias" id="diasId" name="diasId"/>
              <datalist id="dias">
                <option value="30"></option>
                <option value="60"></option>
                <option value="90"></option>
              </datalist>
            <button type="submit" class="btn btn-secondary btn-sm">Filtrar</button>
        </div>
    </form>

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Propietario
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de Finalización
            </th>
            <th>
                Monto Mensual
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inquilino.Nombre) @Html.DisplayFor(modelItem => item.Inquilino.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Inmueble.Propietario.Nombre) @Html.DisplayFor(modelItem => item.Inmueble.Propietario.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto)
                </td>
                <td>
                    <i class="fa-solid fa-circle-info"></i> @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                    <i class="fas fa-dollar-sign"></i> @Html.ActionLink("Pagos", "Pagos", new { id = item.Id }) |
                    <i class="fa-solid fa-pen-to-square"></i> @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    <i class="fa-solid fa-trash"></i> @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
