@model List<inmobiliariaLopardo.Models.Pago>
@{
    ViewData["Title"] = "Pagos";
}

<h4>Realizar un pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Pagos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="ContratoId" class="control-label">Contrato</label>
                <input type="number" id="ContratoId" name="ContratoId" class="form-control" value="@ViewBag.ContratoId" readonly />
            </div>
            <div class="form-group">
                <label for="FechaPago" class="control-label">Fecha del Pago</label>
                <input type="date" id="FechaPago" name="FechaPago" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Importe" class="control-label">Importe</label>
                <input type="number" id="Importe" name="Importe" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Pagar" class="btn btn-primary" /> <a asp-action="Index" class="btn btn-volver">Volver a contratos</a>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Contrato
            </th>
            <th>
                Fecha de Pago
            </th>
            <th>
                Importe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContratoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
            </tr>
        }
    </tbody>
</table>
